
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    /* background: #171529; */
}



/* ------------------------ NAV BAR ----------------------------------  */

nav{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
}

.logo{
    max-width: 100%;
    width: 115px;
    height: auto;
    font-size: 27px;
    color: #2A2550;

}

.navmenu{
    display: flex;
    
}
.navmenu li{
    position: relative;

}
.navmenu a{

    color: #e04d01;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transition:all .42s ;

}

.navmenu a::after{
    content: '';
    position: absolute;
    width:0;
    height: 2px;
    background:#e04d01;
    bottom: -2px;
    left: 0;
    transition: all .42s;

}

.navmenu a:hover::after{
    width: 100%;
}

.btn-icon{
    display:flex ;
    align-items: center;
}
.nav-btn{
    font-size: 17px;
    color: #FD6A2D;
    font-weight: 500;
    border: 2px solid #2A2550  ;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 20px;
    transition: all .42s;
    
}
.nav-btn:hover{
    background-color: #2A2550;
    color: #fff;
}

.menu-icon{
    font-size: 35px;
    color: #2A2550;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


/* --------------------------END OF NAV BAR --------------  */

.form_section{
    display: grid;
    place-items: center;
    height: 100vh;
}
.form_section-container{
    width: 600px ;
}

/* .alert_message{
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.alert_message.error{
    /* background-color: rgb(243, 111, 111); */
    /* color: red;
} */ 

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

input, textarea,select{
    padding: 0.8rem 1.4rem;
    background-color: #2A2550;
    border-radius: 10px;
    resize: none;
    color: white;
    font-size: 18px;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: #8079b9;
    cursor: pointer;
    transition: .4s;
}


h2{
    margin-bottom: 30px;
    color:#8079b9 ;
}
label{
    color: #171529;
}


/* --------------------Dashboard --------------------  */

.btn.sm{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: #8079b9;
    cursor: pointer;
    transition: .4s;
    padding: 0.3rem 0.7rem;
    font-size: 16px ;
    border-radius:10px ;
    color:white ;
}
.btn.danger{
    background: red;
}
.btn:hover{
    background: white;
    color: #171529;
}


.dashboard{
    display: grid;
    place-items: center;
    height: 100vh;
}
.dashboard_container{
    place-items: center;
    display: grid;
    grid-template-columns: 14rem auto ;
    gap: 1rem;
    background-color: #2A2550;
    width: 1000px ;
    height: 500px;


}



.dashboard aside a {
    color: white;
    background-color: #8079b9;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.8rem;
    margin-left: 20px;
}
.dashboard aside a:hover{
    background:#2A2550 ;
}
.dashboard aside ul li a{
    border-bottom: 1px solid #2A2550;
}
.dashboard aside a.active{
    background-color: #2A2550;
    
}

.dashboard main {
    width: 280px;
    height: 280px;
    margin-right: 600px;
}
.dashboard main h2{
    margin:0 0 2rem 0;
    line-height: 1;
    color: white;

}
td{
    color: white;
}
.dashboard main table th{
    background-color: #b5abf3;
    padding: 0.8rem;
    color: white;
}
.dashboard main table {
    width: 600px;
    text-align: left;
    border-spacing: 5px;

}
.dashboard main table td {
    padding: 10px;
    border-bottom: 1px solid #8079b9;
}
.dashboard main table tr:hover td{
    background-color: #201d36;
    color:white;
    transition:0.4s;
}

.logout:hover{
    background-color: red;
    color: white ;
    
}



